body {
  font-family: Helvetica;
}

main {
  max-width: 768px;
  margin: auto;
  margin-top: 72px;
}

h1 {
  font-weight: bold;
  font-size: 36px;
}

form {
  margin-bottom: 70px;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

input, button {
  width: 24.5%;
  height: 36px;
  box-sizing: border-box;
  border-radius: 5px;
}

input {
  padding-left: 12px;
  font-size: 14px;
  opacity: .5;
  border: 1px solid #747070;
}

.error {
  width: 24.5%;
  height: 0;
  padding-left: 12px;
  box-sizing: border-box;
  color: #e0475c;
  font-family: Helvetica;
  font-size: 14px;
  transform: translateY(5px);
  visibility: hidden;
}

input:focus, input:hover {
  outline: none;
  border: 1px solid #00aeef;
}

input:required:invalid {
  border: 1px solid #e0475c;
}

#make:required:invalid ~ #make-error,
#model:required:invalid ~ #model-error,
#year:required:invalid ~ #year-error {
  visibility: visible;
  height: auto;
}


button {
  border: none;
  background-color: #00aeef;
  font-size: 13px;
  font-weight: bold;
  color: white;
  opacity: 1;
  transition: all .5s;
  cursor: pointer;
}

button:focus {
  outline: none;
}

button:hover {
  background-color: #0081b4;
}

.nav-button {
  cursor: pointer;
  color: #00aeef;
  font-size: 16px;
  transition: color .5s;
}

.nav-button:hover {
  color: #0081b4;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  font-size: 14px;
  border-bottom: 4px solid #00aeef;
  opacity: 0.25;
  text-align: left;
  font-weight: 400;
  height: 34px;
  vertical-align: top;
}

th, td {
  padding-left: 12px;
  box-sizing: border-box;
}

tr {
  height: 68px;
}

td {
  font-size: 14px;
  height: 68px;
  width: 25%;
}


input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.chart-container {
  width: 70vw;
}

.chart-container, .modal-outer {
  transition: all .5s;
}

img {
  cursor: pointer;
}

@media(max-width: 511px) {
  .chart-container {
    width: 90vw;
  }

  body {
    margin: 12px;
  }

  form {
    flex-direction: column;
  }

  input, .error, button {
    width: 100%;
    margin-bottom: 4px;
  }

  .error {
    padding: 0;
    text-align: center;
  }

}
